body {
    margin: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    background-color: #252c4d;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.grid-item {
    border-radius: 10px;
    background-color: #384278;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: white;
}

h4 {
    color: pink;
    margin-left: 0;
}

.grid-item:nth-child(n+3):nth-child(-n+8) h4,
.grid-item:nth-child(n+3):nth-child(-n+8) p {
    text-align: left;
} 

.grid-item p {
    color: white;
}

.grid-item a {
    color: white;
    font-size: 15px;
}