ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #FEF2ED;
}

li {
    float: left;
    margin-right: 20px;
}

.top {
    background-color: #FEF2ED;
}

.hire {
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 14px 18px;
    color: #06BCD4;
}

li a {
    display: block;
    color: rgb(153, 170, 239);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li span {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 500px;
    font-size: 30px;
}

li a:hover {
    color: white;
    background-color: #6355cb;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.section {
    padding: 100px 0;
}

.section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #6E809B;
}

.section-description {
    font-size: 36px;
}

.btn {
    padding: 14px 20px;
    color: #fff;
    background-color: #06BCD4;
}

.image-container {
    float: right;
    margin-left: 10px;
}

.text-container {
    text-align: center;
}

.img-fluid {
    padding: 20px 20px;
    height: 500px;
    width: 500px;
    margin-right: 20px;
}

.image-container {
    text-align: right;
}

.item2 {
    margin-top: 100px;
}

.c1 {
    font-weight: 700;
    font-size: 17px;
}

.c2 {
    color: #4865bc;
    font-size: 17px;
}

.personal-details__top--right {
    flex-basis: 50%;
    margin-left: 300px;
}

.c3 {
    padding: 15px
}

.personal-details__top {
    display: flex;
    padding: 20px 84px
}

.container {
    padding: 100px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    display: flex;
    width: 200px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.ready {
    background-color: white;
    padding: 20px 84px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ready h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.ready p {
    font-size: 24px;
    margin-bottom: 20px;
}

.ready .email-form {
    display: flex;
    gap: 10px;
    flex-basis: 50%;
    margin-left: 700px;
    margin-bottom: 100px;
}

.ready .email-form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.ready .email-form button {
    background-color: #172D51;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h2,
h4 {
    text-align: center;
}

img {
    width: 40px;
    height: 40px;
}

body {
    font-family: Arial, sans-serif;
}

.filter-btn {
    margin: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #ddd;
}

.autodrive {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px;
    background-color: #f9f9f9;
    color: #010101;
    border-radius: 5px;
    text-align: left;
}

#filter {
    display: flex;
    justify-content: center;
}

.filter-btn:hover {
    background-color: #ddd;
}

.project {
    /* margin: 20px;
        padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.autodrive {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px;
    background-color: #f9f9f9;
    color: #010101;
    border-radius: 5px;
    text-align: left;
}

h2 {
    text-align: center;
}

.autodrive div img {
    width: 100px;
    /* Set the width of the images */
    display: block;
    /* Center the images */
    margin: 0 auto;
    /* Center the images */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.mid_3 {
    text-align: center;
    padding: 50px;
    margin-top: 80px;
}

.sub {
    text-align: center;
}

.work {
    background-color: rgb(210, 255, 210);
    color: rgb(0, 255, 0);
    font-weight: bold;
}

.content h1 {
    margin-top: 50px;
    font-size: 2em;
    font-weight: bold;
}

.content p {
    margin-top: 20px;
    color: #333;
    line-height: 1.6;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 20px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar li a:hover {
    border-bottom: 2px solid #00FF00;
}

.duoicung {
    margin-top: 70px;
    display: grid;
    grid-template-areas:
        'item13 item14 item15'
        'item16 item17 item18';
    justify-content: space-evenly;
}


.item13 {
    grid-area: item13;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    height: 120px;
}


.item13 .chu {
    font-size: 13px;
    white-space: nowrap;
}



.icon_beside {
    background-color: rgb(90, 255, 255);
    color: rgb(0, 100, 255);
    font-size: 13px;
}

.item13 .anh {
    background-color: rgba(255, 0, 0, 0.315);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    padding: 15px;
}

.item14 .anh {
    background-color: rgba(119, 0, 255, 0.315);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    padding: 15px;
    size: 5px;
}

.item15 .anh {
    background-color: rgba(60, 255, 0, 0.315);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    padding: 15px;
}

.item16 .anh {
    background-color: rgba(0, 255, 136, 0.315);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    padding: 15px;
}

.item17 .anh {
    background-color: rgba(0, 255, 251, 0.315);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    padding: 15px;
}



.mota {
    display: flex;
}

.desc {
    display: flex;
}

.desc p {
    text-align: left;
    font-size: 12px;
    color: grey;
}

.desc .external-link {
    color: rgb(135, 135, 255);
}

.chu h3 {
    text-align: left;
}

.item14 {
    grid-area: item14;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    height: 120px;
}

.item14 .chu {
    font-size: 13px;
    white-space: nowrap;
}

.item15 {
    grid-area: item15;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    height: 120px;
}

.item15 .chu {
    font-size: 13px;
    white-space: nowrap;
}

.item16 {
    grid-area: item16;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    height: 120px;
}

.item16 .chu {
    font-size: 13px;
    white-space: nowrap;
}

.item17 {
    grid-area: item17;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    height: 120px;
}

.item17 .chu {
    font-size: 13px;
    white-space: nowrap;
}

ul .navbar {
    font-weight: 20px;
}