* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #9b59b6;
}

nav #menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 85px;
}

nav #menu li:hover a {
    background: #8e44ad;
    transition: all 0.3s;
    color: rgb(255, 109, 133);
}

#menu {
    display: flex;
}

#bar {
    display: none;
    background-color: #2980b9;
    color: #fff;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: plum;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

div .container button a {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

h2{
    color: white;
    font-size: 50px;
}

.item0 {
    grid-area: item0;
    text-align: center;
    background-image: url(./b3.jpg);
    padding: 180px;
}

.item1 {
    grid-area: item1;
    background-color: rgb(92, 2, 170);
    padding-top: 150px;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
    background-color: rgb(255, 0, 132);
    padding-top: 150px;

}

.item4 {
    grid-area: item4;
    background-color: rgb(225, 66, 175);
    padding-top: 135px;

}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
    background-color: rgb(184, 119, 245);
    padding-top: 135px;

}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
    background-color: rgb(92, 2, 170);
    padding-top: 200px;
}

.item9 {
    grid-area: item9;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'item0 item0 item0 item0'
        'item1 item2 item2 item3'
        'item4 item4 item5 item6'
        'item7 item8 item9 item9';
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h4 {
    color: white;
    /* padding: 5em 2em 0em; */
    font-size: 27px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}

p {
    font-size: 14px;
    line-height: 29px;
    color: rgb(218, 217, 217);
    padding: 10px;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        text-align: center;
    }

    #bar {
        display: block;
    }

    .container {
        display: grid;
        grid-template-areas:
            'item0 item0 item0 item0'
            'item1 item1 item1 item1'
            'item2 item2 item2 item2'
            'item3 item3 item3 item3'
            'item4 item4 item4 item4'
            'item5 item5 item5 item5'
            'item6 item6 item6 item6'
            'item7 item7 item7 item7'
            'item8 item8 item8 item8'
            'item9 item9 item9 item9';
    }
}